body {
}


       .i-class {
           font-size:12px;
       }

    .a-inner{
        padding-left:20px;
        font-size:7.5pt;
        color:springgreen;
        height:5px;
        vertical-align:middle;
        display:table-row;
        margin-top:-3px;margin-bottom:-3px
    
    }
    .b-inner{
        padding-left:0px;
        font-size:16pt;
        color:springgreen;
        /*height:20px;*/   
        display:table-row;

    }

    .a-inner-middle{
        display:table-cell;
        vertical-align:middle;
    }


    

    .a-inner .a-inner-middle a span:hover {
    color: #f8f9fa;
    /*text-decoration: none;*/
    background: #ffd800;
    /*height:20px ;*/ 
    /*display:table-cell;*/
   /*vertical-align:middle;*/
   width:100%;    
   padding:2px 14px !important;
   
    /*line-height:3px;*/
    /*margin-bottom:10px;*/   
    
}
       .inner-span {
           font-size:9pt;
           margin-bottom:10px;
       }

   
   legend {
            /* display: block; */
            width: auto;
            padding: 0;
            margin-bottom: 20px;
            font-size: 15px;
            line-height: inherit;
            color: #000000;
            border: 0;
            /* border-bottom: 1px solid #e5e5e5; */
            margin-left: 33px;
            font-weight: bold;
        }

        fieldset {
            border: 1px solid #cbcbcb;
            width: 90%;
            margin-top: 10px;
            margin-left: 20px;
            height: 270px;
        }




        .hdr {
            /*color: white !important;*/
            /*padding-left:5px*/
        }

        .GridHeader {
            /*text-align: center !important;*/
            padding-left:5px
        }

        .th {
            text-align: center !important;
        }
    


        .sidebar-nav {
    background: #fff;
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #f5f5f5;
}

.sidebar-nav .metismenu2 {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav .metismenu2 li + li {
  /*margin-top: 5px;*/
}

.sidebar-nav .metismenu2 li:first-child {
  margin-top: 5px;
}
.sidebar-nav .metismenu2 li:last-child {
  margin-bottom: 5px;
}


.sidebar-nav .metismenu2 > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu2 a {
    position: relative;
    display: block;
    padding: 2px 14px;
    color: #444;
    outline-width: 0;
    transition: all .3s ease-out;
	font-size:16px;
}

.sidebar-nav .metismenu2 ul a {
    padding: 1px 15px 10px 20px;
    /*padding: 5px 5px 5px 5px;*/
}

.sidebar-nav .metismenu2 ul li a {
    /*padding: 5px 5px 5px 5px;*/
    padding: 0px 0px 0px 0px;
}

.sidebar-nav .metismenu2 a:hover,
.sidebar-nav .metismenu2 a:focus,
.sidebar-nav .metismenu2 a:active {
    color: #f8f9fa;
    text-decoration: none;
    background: #e12503;
}



.sidebar-nav .metismenu2 li .icon-wrap{
	margin-right:10px;
	font-size:20px;
}
.sidebar-nav .metismenu2 li .sub-icon-mg{
	margin-right:5px;
	font-size:16px;
}
#sidebar.active .metismenu2 li .mini-click-non{
	display:none;
}
#sidebar.active .metismenu2 li .has-arrow:after{
	display:none;
}
#sidebar.active .metismenu2 li .submenu-angle li a {
    padding: 5px 5px 5px 5px;
}
#sidebar.active .metismenu2 li .submenu-angle li .mini-sub-pro {
    display:none;
}