body {
}


       .i-class {
           font-size:12px;
       }

    .a-inner{
        padding-left:30px;
        font-size:8pt;
        color:springgreen;
        height:30px;
        vertical-align:middle;
        display:table-row;
    
    }
    .b-inner{
        padding-left:0px;
        font-size:16pt;
        color:springgreen;
        height:30px;   
        display:table-row;

    }

    .a-inner-middle{
        display:table-cell;
        vertical-align:middle;
    }

    .a-inner a:hover {
    color: #f8f9fa;
    text-decoration: none;
    background: #e12503;
    height:25px;
    /*display:table-cell;*/
   /*vertical-align:middle;*/
   width:100%;    
    line-height:3px;
    margin-bottom:10px;   
    
}
       .inner-span {
           font-size:10pt;
           margin-bottom:10px;
       }

   
   legend {
            /* display: block; */
            width: auto;
            padding: 0;
            margin-bottom: 20px;
            font-size: 15px;
            line-height: inherit;
            color: #000000;
            border: 0;
            /* border-bottom: 1px solid #e5e5e5; */
            margin-left: 33px;
            font-weight: bold;
        }

        fieldset {
            border: 1px solid #cbcbcb;
            width: 90%;
            margin-top: 10px;
            margin-left: 20px;
            height: 270px;
        }

.logo-img {
    margin-top:5px;
}


        .hdr {
            color: white !important;
            padding-left:5px
        }

        .GridHeader {
            text-align: center !important;
        }

        .th {
            text-align: center !important;
        }
    